.select__container {
  width: 100%;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.select__label {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-bottom: 0.25em;
}
.select {
  padding: 0.5em;
}