.button {
  border: 2px solid black;
  color: #F7FFF7;
  font-weight: 600;
  margin: 0.7em 0.7em 0 0;
  padding: 0.5em;
}

.button--primary {
  background-color: #4ECDC4;
}
.button--secondary {
  background-color: #F7FFF7;
  color: #4ECDC4;
}
.button--warning {
  background-color: #FF6B6B;
}

.button--small {
  width: 7em;
}
.button--medium {
  width: 12em;
}
.button--large {
  width: 18em;
}