@import '../main.scss';

.rating {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: $padding-three-quarters;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 $margin-half;
    width: 1.6rem;
  }

  &__label {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: auto;
    top: 0;
    padding: 0.15em 0;
    font-weight: 500;
    width: 100%;
  }

  &__legend {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 1rem;
    text-wrap: balance;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    overflow-x: visible;

    &--lower {
      text-align: left;
    }
    &--median {
      text-align: center;
      @media (max-width: 500px) {
        display: none;
      }
    }
    &--upper {
      text-align: right;
    }
  }


  &__input {
    height: 1rem;
    width: 1rem;

    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      width: 1rem;
      height: 1rem;
      border: $border-thickness solid $theme-dark;
      border-radius: 1rem;
      background-color: white;
      outline: none;
    }
    
    &:checked::after {
      position: relative;
      display: inline-block;
      content: '';
      left: 0.25rem;
      bottom: 0.15rem;
      width: 0.5rem;
      height: 0.5rem;
      border: $border-thickness solid $theme-primary;
      border-radius: 1rem;
      background-color: $theme-primary;
      outline: none;
    }
    
    &:focus::before {
      outline: none;
      box-shadow: 0 0 0 0.05rem white, 0 0 0 0.2rem $theme-tertiary;
      border-radius: 1rem;
    }
  }
}
