@import '../../main';

.label {
  display: block;
  width: 100%;
  margin-bottom: 0.4em;
}
.label--xs {
  font-size: $heading-xs;
  font-weight: 600;
}
.label--s {
  font-size: $heading-s;
  font-weight: 600;
}
.label--m {
  font-size: $heading-m;
  font-weight: 700;
}
.label--l {
  font-size: $heading-l;
  font-weight: 800;
}
.label--xl {
  font-size: $heading-xl;
  font-weight: 800;
}
