.form-group {
  width: 100%;
}

.form-group__label {
  font-weight: 800;
  /* font-size: 2em; */
  margin-bottom: 1em;
}

.form-group__questions {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* align-items: center; */
  justify-content: space-between;
}

.form-group__question {
  margin-bottom: 2em;
}