@import '../../main.scss';


input.text-input {
  box-sizing: border-box;
  display: block;
  border: 2px solid $theme-dark;
  border-radius: 0.1em;
  line-height: 1.5em;
  padding: 0.4em;
  max-width: 100%;
  margin: 0.25rem 0 1rem;
}
.text-input:focus {
  outline: 2px solid $theme-tertiary;
}

.text-input {
  display: block;
  &--s {
    width: 20ch;
  }
  &--m {
    width: 30ch;
  }
  &--l {
    width: 45ch;
  }
  &--xl {
    width: 60ch;
  }
}
