@import '../../main';

.input-container {
  display: block;
  box-sizing: border-box;
  width: auto;
  margin: 1rem 0 1.5rem;
}

input {
  border: 2px solid $theme-dark;
  border-radius: 0.1em;
  line-height: 1.5em;
  padding: 0.4em;
}
input:focus {
  outline: 2px solid $theme-tertiary;
}

// .textinput {

// }

.textinput--small {
  width: 34%;
}
.textinput--medium {
  width: 50%;
}
.textinput--large {
  width: 67%;
}
.textinput--extra-large {
  width: 100%
}
