@import '../../main';

.input-container {
  display: block;
  box-sizing: border-box;
  width: auto;
  margin: 1rem 0 1.5rem;
}

input {
  border: 2px solid $theme-dark;
  border-radius: 0.1em;
  line-height: 1.5em;
  padding: 0.4em;
  max-width: 100%;
}
input:focus {
  outline: 2px solid $theme-tertiary;
}

.textinput {
  &--s {
    width: 20ch;
  }
  &--m {
    width: 35ch;
  }
  &--l {
    width: 50ch;
  }
  &--xl {
    width: 90ch;
  }
}

.textinput--s {
  width: 20ch;
}
.textinput--m {
  width: 35ch;
}
.textinput--l {
  width: 50ch;
}
.textinput--xl {
  width: 90ch;
}
