@import '../../main.scss';

.checkboxes {
  display: block;
  width: 100%;
  height: auto;
}

.checkbox__container {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.checkboxes__container {
  margin-bottom: 1.5rem;
}

.checkbox__item {
  float: left;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 0.5rem 0;
}


.checkbox__label {
  display: block;
  position: relative;
  cursor: pointer;
  line-height: 24px;
  height: 24px;
  clear: both;
}

.checkbox__item--label {
  margin-left: 2rem;
}

.checkbox__item input {
  left: 1rem;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border-radius: 0.1rem;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid $theme-dark;
}

.checkbox__item input:checked ~ .checkbox {
  background-color: $theme-primary;
  border-radius: 0.1rem;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid $theme-dark;
}


.checkbox::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 0.1rem;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
}


.checkbox__item input:checked ~ .checkbox::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 8px;
top: 3px;
width: 6px;
height: 12px;
border: solid $theme-dark;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}
