@import '../main.scss';

a, a:link {
  @extend .link;
  color: $theme-primary;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.link, .link:link {
  color: $theme-primary;
}