@import '../../main.scss';

.hint {
  border-left: (2 * $border-thickness) solid rgba($theme-dark, 0.6);
  font-family: $theme-font;
  font-weight: $font-weight-normal;
  margin: $margin-quarter;
  margin-left: 0;
  padding: 0 $gutter-padding;
  color: rgba($theme-dark, 0.6);

  &--s {
    font-size: $fontsize-s;
  }
  &--m {
    font-size: $fontsize-m;
  }
  &--l {
    font-size: $fontsize-l;
  }
};
