@import '../main.scss';

.select {
  display: block;
  background-color: transparent;
  border: $border-thickness solid $theme-dark;
  border-radius: 0.1rem;
  padding: $gutter-padding;
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  font-family: inherit;
  line-height: 1.5rem;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  background: white;
  margin: $margin-half 0;

  &:focus {
    outline: $border-thickness solid $theme-tertiary;
  }
  
  &--error {
    border: $border-thickness solid $color-error;
  }
}