@import '../../main.scss';

.button-group {
  display: block;
  box-sizing: border-box;
  width: auto;
  padding: 1em;
  background-color: rgba($theme-dark, 0.2);
}

.button-group--one-third {
  width: 34%;
}
.button-group--one-half {
  width: 50%;
}
.button-group--two-thirds {
  width: 67%;  
}
