.button-group {
  display: block;
  box-sizing: border-box;
  width: auto;
  margin: 1em;
  padding: 1em;
  background-color: rgb(214, 212, 212);
}

.button-group--one-third {
  width: 34%;
}
.button-group--one-half {
  width: 50%;
}
.button-group--two-thirds {
  width: 67%;  
}
