@import '../main.scss';

.button {
  border: $border-thickness solid $theme-dark;
  border-radius: 1px;
  color: $theme-light;
  text-align: center;
  overflow: hidden;
  font-weight: $font-weight-bold;
  margin: $margin-half $margin-half 0 0;
  padding: $padding-half $padding-three-quarters;
  @include box-shadow();
  text-shadow: rgba($theme-dark, 0.4) 0px 1px 1px;
  cursor: pointer;

  &:hover {
    @include box-shadow-hover();
  }
  &:active {
    @include box-shadow-down();
  }

  &--primary {
    background-color: $theme-primary;
  }
  &--secondary {
    background-color: $theme-light;
    color: $theme-primary;
  }
  &--submit {
    background-color: $theme-primary;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  &--warning {
    background-color: $color-error;
  }

  &__right-arrow {
    margin: 0 0 0.2rem $gutter-padding;
    vertical-align: middle;
  }
  
  &--xs {
    width: $button-width-xs;
  }
  &-s {
    width: $button-width-s;
  }
  &--m {
    width: $button-width-m;
  }
  &--l {
    width: $button-width-l;
  }
  &--xl {
    width: $button-width-xl;
  }
}
