.insetText-container {
  display: block;
  width: 100%;
  border-left: 0.75em solid #FFE66D;
  padding: 1em 1em;
}

  .insetText-content {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #292F36
}