* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #292F36;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

fieldset {
  border: none;
  outline: none;
  margin: none;
  padding: none;
  background: none;
}