@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COLOURS */

// THEME COLOURS
$theme-dark: #292F36;
$theme-light: #F7FFF7;
$theme-primary: #4ECDC4;
$theme-secondary: #FF6B6B;
$theme-tertiary: #FFE66D;
$theme-font: 'Poppins';

// LINKS
$link: $theme-primary;
$link-visited: #4e85cd;


/* SIZES */

// BODY
$fontsize-body: 1em;
$fontsize-s: 1em;
$fontsize-m: 1.3em;
$fontsize-l: 1.75em;

// LABELS
$label-xs: 0.9em;
$label-s: 1em;
$label-m: 1.2em;
$label-l: 1.8em;
$label-xl: 2.5em;

// HEADINGS
$heading-xs: 1.5rem;
$heading-s: 2rem;
$heading-m: 2.5rem;
$heading-l: 3rem;
$heading-xl: 4rem;

// MIXINS
@mixin HeadingStyles ($fontSize: 3rem) {
  font-family: $theme-font;
  font-size: $fontSize;
  color: $theme-dark;
  line-height: ($fontSize + 0.5rem);
};


* {
  margin: 0;
  padding: 0;
  border: 0;
  color: $theme-dark;
  font-family: $theme-font;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $theme-font;
  font-size: $fontsize-body;
}

fieldset {
  border: none;
  outline: none;
  margin: none;
  padding: none;
  background: none;
}
