.fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.checkboxes__container {
  display: block;
  width: 100%;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.checkboxes__label {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.checkbox__container {
  display: flex;
  margin: 0.25em 0em;
  align-items: center;
}

.checkbox__input {
  margin: 0.25em 0.5em 0.25em 0;
  width: 2em;
  height: 2em;
}

.checkbox__label {

}

input[type=checkbox] {
  // appearance: none;
  border: 2px solid #292F36;
  border-radius: 0.25em;
  color: #292F36;
}
input[type=checkbox]:checked {
  color: black
}